---
layout: default
---

<figure class="max-w-3xl mx-auto px-4 py-4 mb-4">
  <img src="<%= relative_url "/images/#{data.feature_image}" %>" />
</figure>

<section class="max-w-3xl mx-auto px-4">
  <h1 class="text-3xl font-light font-serif mb-4"><%= data.title %></h1>

  <main>
    <%= yield %>
  </main>
</section>
