
<section class="max-w-3xl mx-auto px-4 py-4">
  <footer class="flex space-x-2 items-center">
    <span class="text-sm">&copy; <%= Date.today.year %> Mugen Ruby</span> <img src="<%= relative_url '/images/ruby_logo.svg' %>" alt="Ruby logo" class="w-4" /> <span class="text-sm">Proudly built with <a href="https://bridgetownrb.com" class="uppercase text-xs font-bold" target="_blank">Bridgetown</a></span>
  </footer>
</section>
